@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  background-color: #1e1e1e;
  color: #d4d4d4;
  font-family: 'Inter', sans-serif; /* Default to readable font */
  overflow: hidden; /* App-like feel, manage scroll internally */
}

/* Force specific elements to use mono */
h1, h2, h3, h4, button, .code-font {
  font-family: 'Fira Code', monospace;
}
